Repository quantumlib/Qualtran, pull requests merged in 2024-07, with the labels that each got.

#1137 Support arbitrary `CtrlSpec` to single qubit control
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/bloqs/mcmt/__init__.py
  qualtran/bloqs/mcmt/ctrl_spec_and.ipynb
  qualtran/bloqs/mcmt/ctrl_spec_and.py
  qualtran/bloqs/mcmt/ctrl_spec_and_test.py
  qualtran/serialization/resolver_dict.py
  qualtran/simulation/classical_sim.py
  qualtran/simulation/classical_sim_test.py
Labels: bloq_infra

#1144 Implement `Negate` (two's complement)
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/_infra/data_types.py
  qualtran/bloqs/arithmetic/__init__.py
  qualtran/bloqs/arithmetic/_shims.py
  qualtran/bloqs/arithmetic/negate.ipynb
  qualtran/bloqs/arithmetic/negate.py
  qualtran/bloqs/arithmetic/negate_test.py
  qualtran/bloqs/arithmetic/subtraction.ipynb
  qualtran/bloqs/arithmetic/subtraction.py
  qualtran/bloqs/basic_gates/on_each.py
  qualtran/bloqs/mod_arithmetic/_shims.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1141 [surface code] DataBlock refactor
  qualtran/surface_code/__init__.py
  qualtran/surface_code/azure_cost_model.ipynb
  qualtran/surface_code/azure_cost_model.py
  qualtran/surface_code/azure_cost_model_test.py
  qualtran/surface_code/ccz2t_cost_model.py
  qualtran/surface_code/data_block.py
  qualtran/surface_code/data_block_test.py
  qualtran/surface_code/magic_count.py
  qualtran/surface_code/quantum_error_correction_scheme_summary.py
  qualtran/surface_code/quantum_error_correction_scheme_summary_test.py
  qualtran/surface_code/thc_compilation.ipynb
  qualtran/surface_code/ui.py
Labels: physical_cost

#1161 Add `BitwiseNot`
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  qualtran/bloqs/arithmetic/__init__.py
  qualtran/bloqs/arithmetic/bitwise.ipynb
  qualtran/bloqs/arithmetic/bitwise.py
  qualtran/bloqs/arithmetic/bitwise_test.py
  qualtran/bloqs/arithmetic/negate.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1159 Add `typing_extensions>=4.10.0` dep
  dev_tools/requirements/deps/runtime.txt
Labels: devops, dependencies

#1166 Add `ExplicitEntryOracle` to block encode a matrix
  qualtran/bloqs/block_encoding/block_encoding.ipynb
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/block_encoding

#1172 Add check/autogenerate-notebooks to CI
  .github/workflows/ci.yaml
Labels: devops

#1175 Generalize full matrix block encoding to top-left non-zero matrices
  qualtran/bloqs/block_encoding/block_encoding.ipynb
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/conftest.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/block_encoding

#1145 `ControlledAddOrSubtract` Bloq
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/bloqs/arithmetic/addition.py
  qualtran/bloqs/arithmetic/controlled_add_or_subtract.ipynb
  qualtran/bloqs/arithmetic/controlled_add_or_subtract.py
  qualtran/bloqs/arithmetic/controlled_add_or_subtract_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1176 Improve static type hints for symbolic math
  qualtran/symbolics/math_funcs.py
Labels: symbolic

#1154 [surface code] MagicStateFactory and GateCounts refactor
  qualtran/resource_counting/_bloq_counts.py
  qualtran/resource_counting/_bloq_counts_test.py
  qualtran/surface_code/__init__.py
  qualtran/surface_code/algorithm_summary.py
  qualtran/surface_code/algorithm_summary_test.py
  qualtran/surface_code/ccz2t_cost_model.py
  qualtran/surface_code/ccz2t_cost_model_test.py
  qualtran/surface_code/data_block.py
  qualtran/surface_code/fifteen_to_one.py
  qualtran/surface_code/fifteen_to_one_test.py
  qualtran/surface_code/magic_state_factory.py
  qualtran/surface_code/multi_factory.py
  qualtran/surface_code/thc_compilation.ipynb
  qualtran/surface_code/ui.py
Labels: physical_cost

#1167 Bump dependencies July 2024
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/envs/dev.env.txt
  dev_tools/requirements/envs/docs.env.txt
  dev_tools/requirements/envs/format.env.txt
  dev_tools/requirements/envs/pylint.env.txt
  dev_tools/requirements/envs/pytest.env.txt
  dev_tools/requirements/envs/runtime.env.txt
  qualtran/drawing/musical_score.py
  qualtran/resource_counting/t_counts_from_sigma.py
Labels: devops, dependencies

#1157 [surface code] Azure model and new AlgorithmSummary
  qualtran/resource_counting/_bloq_counts.py
  qualtran/surface_code/algorithm_summary.py
  qualtran/surface_code/algorithm_summary_test.py
  qualtran/surface_code/azure_cost_model.ipynb
  qualtran/surface_code/azure_cost_model.py
  qualtran/surface_code/azure_cost_model_test.py
  qualtran/surface_code/physical_parameters.py
  qualtran/surface_code/rotation_cost_model.py
  qualtran/surface_code/rotation_cost_model_test.py
  qualtran/surface_code/ui.py
Labels: physical_cost

#1162 Add `SignExtend` for two's complement sign extension
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/bloqs/arithmetic/__init__.py
  qualtran/bloqs/arithmetic/conversions/__init__.py
  qualtran/bloqs/arithmetic/conversions/contiguous_index.ipynb
  qualtran/bloqs/arithmetic/conversions/contiguous_index.py
  qualtran/bloqs/arithmetic/conversions/contiguous_index_test.py
  qualtran/bloqs/arithmetic/conversions/conversions.ipynb
  qualtran/bloqs/arithmetic/conversions/ones_complement_to_twos_complement.py
  qualtran/bloqs/arithmetic/conversions/ones_complement_to_twos_complement_test.py
  qualtran/bloqs/arithmetic/conversions/sign_extension.ipynb
  qualtran/bloqs/arithmetic/conversions/sign_extension.py
  qualtran/bloqs/arithmetic/conversions/sign_extension_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1177 Add `SymmetricBanded` matrix block encoding
  qualtran/bloqs/block_encoding/block_encoding.ipynb
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/conftest.py
Labels: bloqs/block_encoding

#1188 Add `ArcSin` bloq
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/bloqs/arithmetic/__init__.py
  qualtran/bloqs/arithmetic/trigonometric.ipynb
  qualtran/bloqs/arithmetic/trigonometric.py
  qualtran/bloqs/arithmetic/trigonometric_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1193 Add symbolic call graph for `SparseMatrix`
  qualtran/bloqs/block_encoding/block_encoding.ipynb
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/conftest.py
Labels: bloqs/block_encoding

#1201 Fix symbolic expression in `bit_length`
  qualtran/bloqs/arithmetic/permutation.ipynb
  qualtran/bloqs/arithmetic/permutation.py
  qualtran/bloqs/arithmetic/permutation_test.py
  qualtran/bloqs/block_encoding/block_encoding.ipynb
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/bloqs/state_preparation/prepare_uniform_superposition.py
  qualtran/bloqs/state_preparation/prepare_uniform_superposition_test.py
  qualtran/bloqs/state_preparation/state_preparation_alias_sampling_test.py
  qualtran/symbolics/math_funcs.py
  qualtran/symbolics/math_funcs_test.py
Labels: symbolic

#1199 Add vectorized `from_bits` and `to_bits`
  qualtran/_infra/data_types.py
  qualtran/_infra/data_types_test.py
  qualtran/simulation/classical_sim.py
  qualtran/simulation/classical_sim_test.py
Labels: sim/classical

#1198 Fix `AutoPartition` indexing bug with multiple `Unused`
  qualtran/bloqs/bookkeeping/auto_partition.py
  qualtran/bloqs/bookkeeping/auto_partition_test.py
Labels: bug

#1204 QFxp: use integer values for classical sim instead of `fxpmath.Fxp`
  qualtran/_infra/data_types.py
  qualtran/_infra/data_types_test.py
  qualtran/bloqs/arithmetic/trigonometric/arctan_test.py
  qualtran/bloqs/bookkeeping/cast_test.py
  qualtran/bloqs/chemistry/trotter/grid_ham/inverse_sqrt_test.py
  qualtran/bloqs/mean_estimation/complex_phase_oracle_test.py
  qualtran/bloqs/rotations/phase_gradient.py
  qualtran/bloqs/rotations/quantum_variable_rotation.py
  qualtran/simulation/classical_sim.ipynb
Labels: sim/classical, bloq_infra/data_types

#1196 Reorganize Block Encoding notebooks into separate section
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/bloqs/block_encoding/block_encoding.ipynb
  qualtran/bloqs/block_encoding/chebyshev_polynomial.ipynb
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/lcu_block_encoding.ipynb
  qualtran/bloqs/block_encoding/lcu_block_encoding.py
  qualtran/bloqs/block_encoding/linear_combination.ipynb
  qualtran/bloqs/block_encoding/phase.ipynb
  qualtran/bloqs/block_encoding/product.ipynb
  qualtran/bloqs/block_encoding/sparse_matrix.ipynb
  qualtran/bloqs/block_encoding/tensor_product.ipynb
  qualtran/bloqs/block_encoding/unitary.ipynb
Labels: bloqs/block_encoding

#1213 Revamp `ChebyshevPolynomial`
  qualtran/bloqs/block_encoding/chebyshev_polynomial.ipynb
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/conftest.py
Labels: bloqs/block_encoding

#1212 Add a CI workflow to run pytest nightly
  .github/workflows/tests.yaml
Labels: devops

#1223 Fix `alpha` in `LinearCombination`
  qualtran/bloqs/block_encoding/linear_combination.py
  qualtran/bloqs/block_encoding/linear_combination_test.py
Labels: bloqs/block_encoding

#1224 Fix `alpha` in ChebyshevPolynomial
  qualtran/bloqs/block_encoding/chebyshev_polynomial.ipynb
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
Labels: bloqs/block_encoding

#1227 Mark tests taking >10s with `pytest.mark.slow`
  qualtran/bloqs/arithmetic/trigonometric/arctan_test.py
  qualtran/bloqs/block_encoding/linear_combination_test.py
  qualtran/bloqs/mean_estimation/complex_phase_oracle_test.py
  qualtran/bloqs/phase_estimation/qubitization_qpe_test.py
  qualtran/bloqs/qsp/generalized_qsp_test.py
  qualtran/bloqs/qubitization/qubitization_walk_operator_test.py
Labels: devops

#1231 Add `ScaledChebyshevPolynomial` bloq
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  qualtran/bloqs/block_encoding/__init__.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial.ipynb
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/conftest.py
Labels: bloqs/block_encoding

#1228 Mark tests taking >4s with `pytest.mark.slow`
  qualtran/bloqs/basic_gates/power_test.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/bloqs/bookkeeping/allocate_test.py
  qualtran/bloqs/bookkeeping/arbitrary_clifford_test.py
  qualtran/bloqs/bookkeeping/auto_partition_test.py
  qualtran/bloqs/bookkeeping/cast_test.py
  qualtran/bloqs/bookkeeping/free_test.py
  qualtran/bloqs/bookkeeping/join_test.py
  qualtran/bloqs/bookkeeping/partition_test.py
  qualtran/bloqs/bookkeeping/split_test.py
  qualtran/bloqs/chemistry/trotter/grid_ham/potential_test.py
  qualtran/bloqs/data_loading/select_swap_qrom_test.py
  qualtran/bloqs/multiplexers/apply_gate_to_lth_target_test.py
  qualtran/bloqs/qsp/generalized_qsp_test.py
  qualtran/bloqs/reflections/reflection_using_prepare_test.py
  qualtran/bloqs/state_preparation/state_preparation_via_rotation_test.py
Labels: devops

#1229 Skip slow tests in `pytest` CI workflow
  .github/workflows/ci.yaml
Labels: devops

#1232 Add an optimizer for `LinearCombination`s
  qualtran/bloqs/block_encoding/rewrites.py
  qualtran/bloqs/block_encoding/rewrites_test.py
Labels: bloqs/block_encoding
