Repository quantumlib/Qualtran, pull requests merged in 2024-10, with the labels that each got.

#1439 Update copyright checker and switch to pylint-3
  dev_tools/conf/.pylintrc
  dev_tools/qualtran_dev_tools/pylint_copyright_checker.py
  dev_tools/requirements/deps/pylint.txt
  dev_tools/requirements/envs/dev.env.txt
  dev_tools/requirements/envs/docs.env.txt
  dev_tools/requirements/envs/format.env.txt
  dev_tools/requirements/envs/pylint.env.txt
  dev_tools/requirements/envs/pytest.env.txt
  dev_tools/requirements/envs/runtime.env.txt
Labels: devops

#1377 Remove _t_complexity_
  qualtran/_infra/adjoint.py
  qualtran/_infra/bloq.py
  qualtran/bloqs/arithmetic/conversions/contiguous_index.py
  qualtran/bloqs/basic_gates/cnot.py
  qualtran/bloqs/basic_gates/global_phase.py
  qualtran/bloqs/basic_gates/hadamard.py
  qualtran/bloqs/basic_gates/identity.py
  qualtran/bloqs/basic_gates/rotation.py
  qualtran/bloqs/basic_gates/s_gate.py
  qualtran/bloqs/basic_gates/swap.py
  qualtran/bloqs/basic_gates/toffoli.py
  qualtran/bloqs/basic_gates/x_basis.py
  qualtran/bloqs/basic_gates/y_gate.py
  qualtran/bloqs/basic_gates/z_basis.py
  qualtran/bloqs/bookkeeping/_bookkeeping_bloq.py
  qualtran/bloqs/bookkeeping/arbitrary_clifford.py
  qualtran/bloqs/for_testing/atom.py
  qualtran/bloqs/mcmt/and_bloq.py
  qualtran/cirq_interop/_bloq_to_cirq.py
  qualtran/cirq_interop/_bloq_to_cirq_test.py
  qualtran/cirq_interop/_cirq_to_bloq.py
  qualtran/cirq_interop/t_complexity_protocol.py
  qualtran/cirq_interop/t_complexity_protocol_test.py
  qualtran/cirq_interop/testing.py
  qualtran/cirq_interop/testing_test.py
  qualtran/resource_counting/_bloq_counts.py
  qualtran/serialization/bloq_test.py
Labels: resource_counting

#1473 [qwa] Export docs for bloqs without examples
  dev_tools/ui-export.ipynb
Labels: qualtran-web-app

#1464 Create KaliskiModInverse
  dev_tools/qualtran_dev_tools/notebook_specs.py
  docs/bloqs/index.rst
  qualtran/bloqs/mod_arithmetic/__init__.py
  qualtran/bloqs/mod_arithmetic/mod_division.ipynb
  qualtran/bloqs/mod_arithmetic/mod_division.py
  qualtran/bloqs/mod_arithmetic/mod_division_test.py
  qualtran/bloqs/mod_arithmetic/mod_multiplication.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1483 Override KaliskiModInverse.adjoint
  qualtran/bloqs/mod_arithmetic/mod_division.py
  qualtran/bloqs/mod_arithmetic/mod_division_test.py
Labels: bloqs/arithmetic
