Repository quantumlib/Qualtran, pull requests merged in 2024-08, with the labels that each got.

#1241 Fix and add random tests for `ChebyshevPolynomial`
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/bloqs/for_testing/matrix_gate.py
  qualtran/linalg/matrix.py
Labels: bloqs/block_encoding

#1147 RzViaPhaseGradient
  qualtran/bloqs/chemistry/quad_fermion/givens_bloq.py
  qualtran/bloqs/chemistry/quad_fermion/givens_bloq_test.py
  qualtran/bloqs/rotations/rz_via_phase_gradient.py
  qualtran/bloqs/rotations/rz_via_phase_gradient_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/rotations

#1243 Add convenience constructors for block encodings
  qualtran/bloqs/block_encoding/linear_combination.py
  qualtran/bloqs/block_encoding/product.py
  qualtran/bloqs/block_encoding/tensor_product.py
Labels: bloqs/block_encoding

#1246 Remove legacy register methods from `BlockEncoding` interface
  qualtran/bloqs/block_encoding/block_encoding_base.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/bloqs/block_encoding/linear_combination.py
  qualtran/bloqs/block_encoding/phase.py
  qualtran/bloqs/block_encoding/product.py
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/tensor_product.py
  qualtran/bloqs/block_encoding/unitary.py
Labels: bloqs/block_encoding

#1248 Make methods `abstractmethod` in `BlockEncoding`
  qualtran/bloqs/block_encoding/block_encoding_base.py
  qualtran/bloqs/block_encoding/lcu_block_encoding.py
  qualtran/bloqs/chemistry/df/double_factorization.py
  qualtran/bloqs/chemistry/sf/single_factorization.py
Labels: bloqs/block_encoding

#1235 Add notebook tests for block encodings
  qualtran/bloqs/block_encoding/block_encoding_base_test.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/bloqs/block_encoding/lcu_block_encoding_test.py
  qualtran/bloqs/block_encoding/linear_combination_test.py
  qualtran/bloqs/block_encoding/phase_test.py
  qualtran/bloqs/block_encoding/product_test.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/bloqs/block_encoding/tensor_product_test.py
  qualtran/bloqs/block_encoding/unitary_test.py
Labels: bloqs/block_encoding

#1258 Accept symbolic sizes in multiplication bloqs
  qualtran/bloqs/arithmetic/multiplication.py
Labels: symbolic

#1259 Switch `BlockEncoding.signal_state` to `BlackBoxPrepare`
  qualtran/bloqs/block_encoding/block_encoding_base.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/bloqs/block_encoding/linear_combination.py
  qualtran/bloqs/block_encoding/phase.py
  qualtran/bloqs/block_encoding/product.py
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/tensor_product.py
  qualtran/bloqs/block_encoding/unitary.py
  qualtran/bloqs/chemistry/df/double_factorization.py
  qualtran/bloqs/chemistry/sf/single_factorization.py
Labels: bloqs/block_encoding

#1254 `GraphvizCallGraph.from_bloq`
  qualtran/bloqs/for_testing/atom.py
  qualtran/drawing/_show_funcs.py
  qualtran/drawing/bloq_counts_graph.py
  qualtran/drawing/bloq_counts_graph_test.py
  qualtran/resource_counting/_bloq_counts.py
  qualtran/resource_counting/_bloq_counts_test.py
  qualtran/resource_counting/call_graph.ipynb
  qualtran/surface_code/beverland_et_al_model.py
Labels: drawing

#1260 Implement `signal_state` for block encodings
  qualtran/bloqs/block_encoding/chebyshev_polynomial.py
  qualtran/bloqs/block_encoding/chebyshev_polynomial_test.py
  qualtran/bloqs/block_encoding/linear_combination.py
  qualtran/bloqs/block_encoding/linear_combination_test.py
  qualtran/bloqs/block_encoding/phase.py
  qualtran/bloqs/block_encoding/phase_test.py
  qualtran/bloqs/block_encoding/product.py
  qualtran/bloqs/block_encoding/product_test.py
  qualtran/bloqs/block_encoding/sparse_matrix.py
  qualtran/bloqs/block_encoding/sparse_matrix_test.py
  qualtran/bloqs/block_encoding/tensor_product.py
  qualtran/bloqs/block_encoding/tensor_product_test.py
  qualtran/bloqs/block_encoding/unitary.py
  qualtran/bloqs/block_encoding/unitary_test.py
Labels: bloqs/block_encoding

#1263 Rename `multi_control_multi_target_pauli` to `multi_control_pauli`
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  qualtran/bloqs/arithmetic/addition.py
  qualtran/bloqs/arithmetic/comparison.py
  qualtran/bloqs/arithmetic/multiplication.py
  qualtran/bloqs/arithmetic/multiplication_test.py
  qualtran/bloqs/block_encoding/product.py
  qualtran/bloqs/chemistry/black_boxes.py
  qualtran/bloqs/chemistry/thc/prepare.py
  qualtran/bloqs/factoring/mod_sub.py
  qualtran/bloqs/mcmt/__init__.py
  qualtran/bloqs/mcmt/multi_control_pauli.py
  qualtran/bloqs/mcmt/multi_control_pauli_test.py
  qualtran/bloqs/phase_estimation/lp_resource_state.py
  qualtran/bloqs/qubitization/qubitization_walk_operator_test.py
  qualtran/bloqs/reflections/reflection_using_prepare.py
  qualtran/resource_counting/_bloq_counts_test.py
  qualtran/serialization/resolver_dict.py
  qualtran/surface_code/algorithm_summary_test.py
Labels: bloqs/basic_gates

#1270 Ad bartiq and qref as dependencies for interop
  dev_tools/requirements/deps/runtime.txt
  dev_tools/requirements/envs/dev.env.txt
  dev_tools/requirements/envs/docs.env.txt
  dev_tools/requirements/envs/format.env.txt
  dev_tools/requirements/envs/pip-tools.env.txt
  dev_tools/requirements/envs/pylint.env.txt
  dev_tools/requirements/envs/pytest.env.txt
  dev_tools/requirements/envs/runtime.env.txt
Labels: devops, dependencies

#1284 Update dependencies for newer qref & bartiq versions
  dev_tools/requirements/deps/runtime.txt
  dev_tools/requirements/envs/dev.env.txt
  dev_tools/requirements/envs/docs.env.txt
  dev_tools/requirements/envs/format.env.txt
  dev_tools/requirements/envs/pylint.env.txt
  dev_tools/requirements/envs/pytest.env.txt
  dev_tools/requirements/envs/runtime.env.txt
Labels: devops, dependencies

#1285 Add explicit adjoint for `SwapWithZero` and classical simulation tests for decomposition of `SelectSwapQROM`
  qualtran/bloqs/data_loading/select_swap_qrom.py
  qualtran/bloqs/data_loading/select_swap_qrom_test.py
  qualtran/bloqs/swap_network/swap_with_zero.py
  qualtran/bloqs/swap_network/swap_with_zero_test.py
Labels: bloqs/data_loading

#1205 Sparse state preparation via Dense + Permute
  qualtran/bloqs/arithmetic/permutation.py
  qualtran/bloqs/state_preparation/sparse_state_preparation_via_rotations.py
  qualtran/bloqs/state_preparation/sparse_state_preparation_via_rotations_test.py
  qualtran/conftest.py
  qualtran/linalg/permutation.py
Labels: bloqs/state_preparation

#1283 Create controlled greater than bloq
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  qualtran/bloqs/arithmetic/__init__.py
  qualtran/bloqs/arithmetic/addition.py
  qualtran/bloqs/arithmetic/addition_test.py
  qualtran/bloqs/arithmetic/bitwise.py
  qualtran/bloqs/arithmetic/comparison.ipynb
  qualtran/bloqs/arithmetic/comparison.py
  qualtran/bloqs/arithmetic/comparison_test.py
  qualtran/bloqs/basic_gates/on_each.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1294 Serialize QMontgomeryUInt
  qualtran/protos/data_types.proto
  qualtran/protos/data_types_pb2.py
  qualtran/protos/data_types_pb2.pyi
  qualtran/serialization/data_types.py
  qualtran/serialization/data_types_test.py
Labels: serialization

#1295 Create CModAdd
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  qualtran/bloqs/arithmetic/addition.py
  qualtran/bloqs/factoring/ecc/ec_add.py
  qualtran/bloqs/mod_arithmetic/__init__.py
  qualtran/bloqs/mod_arithmetic/_shims.py
  qualtran/bloqs/mod_arithmetic/mod_addition.ipynb
  qualtran/bloqs/mod_arithmetic/mod_addition.py
  qualtran/bloqs/mod_arithmetic/mod_addition_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1313 [QECGatesCost] strict & account for more leaf bloqs
  qualtran/_infra/controlled.py
  qualtran/bloqs/basic_gates/hadamard.py
  qualtran/resource_counting/_bloq_counts.py
  qualtran/resource_counting/_bloq_counts_test.py
  qualtran/resource_counting/_call_graph.py
  qualtran/resource_counting/classify_bloqs.py
  qualtran/resource_counting/classify_bloqs_test.py
  qualtran/surface_code/algorithm_summary_test.py
Labels: resource_counting

#1136 Add `ProgrammableAncillaRotation` with costs
  qualtran/bloqs/rotations/programmable_ancilla_rotation.py
  qualtran/bloqs/rotations/programmable_ancilla_rotation_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/rotations

#1323 [QECGatesCost] Adjustments to match t_complexity rotations, part 2
  qualtran/bloqs/basic_gates/rotation.py
  qualtran/bloqs/basic_gates/rotation_test.py
  qualtran/bloqs/basic_gates/su2_rotation.py
  qualtran/bloqs/basic_gates/x_basis_test.py
  qualtran/bloqs/basic_gates/z_basis_test.py
  qualtran/bloqs/chemistry/trotter/grid_ham/qvr.py
  qualtran/bloqs/chemistry/trotter/grid_ham/qvr_test.py
  qualtran/bloqs/phase_estimation/lp_resource_state.py
  qualtran/bloqs/phase_estimation/lp_resource_state_test.py
  qualtran/resource_counting/_bloq_counts.py
  qualtran/resource_counting/classify_bloqs.py
Labels: resource_counting

#1288 `SU2RotationGate`: add helper to construct from Euler ZXZ angles
  qualtran/bloqs/basic_gates/su2_rotation.py
  qualtran/bloqs/basic_gates/su2_rotation_test.py
Labels: bloqs/rotations, bloqs/basic_gates

#1300 Create ModNeg and CModNeg
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  docs/bloqs/index.rst
  qualtran/bloqs/factoring/ecc/ec_add.py
  qualtran/bloqs/factoring/mod_sub.py
  qualtran/bloqs/factoring/mod_sub_test.py
  qualtran/bloqs/mod_arithmetic/__init__.py
  qualtran/bloqs/mod_arithmetic/_shims.py
  qualtran/bloqs/mod_arithmetic/mod_subtraction.ipynb
  qualtran/bloqs/mod_arithmetic/mod_subtraction.py
  qualtran/bloqs/mod_arithmetic/mod_subtraction_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1299 Add precision parameter to GQSP
  qualtran/bloqs/hamiltonian_simulation/hamiltonian_simulation_by_gqsp.ipynb
  qualtran/bloqs/hamiltonian_simulation/hamiltonian_simulation_by_gqsp.py
  qualtran/bloqs/hamiltonian_simulation/hamiltonian_simulation_by_gqsp_test.py
  qualtran/bloqs/qsp/generalized_qsp.ipynb
  qualtran/bloqs/qsp/generalized_qsp.py
Labels: bloqs/qsp

#1328 Simplify GQSP call graph
  qualtran/bloqs/hamiltonian_simulation/hamiltonian_simulation_by_gqsp.py
  qualtran/bloqs/hamiltonian_simulation/hamiltonian_simulation_by_gqsp_test.py
  qualtran/bloqs/qsp/generalized_qsp.py
  qualtran/bloqs/qsp/generalized_qsp_test.py
  qualtran/symbolics/__init__.py
  qualtran/symbolics/math_funcs.py
  qualtran/symbolics/math_funcs_test.py
Labels: resource_counting

#1317 Cleanup redundant code for computing t complexity
  qualtran/bloqs/basic_gates/rotation.py
  qualtran/bloqs/chemistry/trotter/hubbard/qpe_cost_optimization.ipynb
  qualtran/bloqs/data_loading/select_swap_qrom_test.py
  qualtran/resource_counting/t_counts_from_sigma.py
  qualtran/resource_counting/t_counts_from_sigma_test.py
Labels: resource_counting

#1332 Create ModSub and CModSub
  dev_tools/autogenerate-bloqs-notebooks-v2.py
  qualtran/bloqs/factoring/ecc/ec_add.py
  qualtran/bloqs/mod_arithmetic/__init__.py
  qualtran/bloqs/mod_arithmetic/_shims.py
  qualtran/bloqs/mod_arithmetic/mod_subtraction.ipynb
  qualtran/bloqs/mod_arithmetic/mod_subtraction.py
  qualtran/bloqs/mod_arithmetic/mod_subtraction_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic

#1333 [QECGatesCost] Adjustments part 3
  qualtran/resource_counting/_qubit_counts.py
  qualtran/resource_counting/classify_bloqs.py
  qualtran/resource_counting/classify_bloqs_test.py
Labels: resource_counting

#1338 Remove `factoring/mod_sub` to reduce code duplication
  qualtran/bloqs/factoring/mod_sub.py
  qualtran/bloqs/factoring/mod_sub_test.py
  qualtran/serialization/resolver_dict.py
Labels: bloqs/arithmetic
