Repository quantumlib/Qualtran, pull requests merged in 2025-05, with the labels that each got.

#1642 4 Ts per CSwap
  qualtran/bloqs/chemistry/df/double_factorization_test.py
  qualtran/bloqs/chemistry/hubbard_model/qubitization/select_hubbard_test.py
  qualtran/bloqs/chemistry/pbc/first_quantization/projectile/select_and_prepare_test.py
  qualtran/bloqs/chemistry/pbc/first_quantization/select_and_prepare_test.py
  qualtran/resource_counting/_bloq_counts.py
  qualtran/resource_counting/_bloq_counts_test.py
  qualtran/resource_counting/classify_bloqs_test.py
Labels: resource_counting

#1643 feat: multi-level decomposition for (non-symbolic) bloqs
  dev_tools/requirements/deps/runtime.txt
  dev_tools/requirements/envs/dev.env.txt
  dev_tools/requirements/envs/docs.env.txt
  dev_tools/requirements/envs/format.env.txt
  dev_tools/requirements/envs/mypy.env.txt
  dev_tools/requirements/envs/pylint.env.txt
  dev_tools/requirements/envs/pytest.env.txt
  dev_tools/requirements/envs/runtime.env.txt
  qualtran/qref_interop/_bloq_to_qref.py
  qualtran/qref_interop/_bloq_to_qref_test.py
Labels: qref_interop

#1590 [open-systems] Phased classical simulation
  qualtran/_infra/bloq.py
  qualtran/_infra/controlled.py
  qualtran/bloqs/basic_gates/z_basis.py
  qualtran/bloqs/basic_gates/z_basis_test.py
  qualtran/simulation/classical_sim.ipynb
  qualtran/simulation/classical_sim.py
  qualtran/simulation/classical_sim_test.py
Labels: sim/classical
